
<footer class="footer">
    <section class="footer-top">
        <form class="newsletter-form">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email">
            </mat-form-field>
            <button mat-raised-button color="primary">→</button>
        </form>
        <p class="footer-text">
            Sign up to be notified once a month about new collection releases, sales, and in-person events:
        </p>
    </section>
    <div class="social-icons">
        <a href="https://www.instagram.com/stanlievens/" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
    </div>
    <div class="footer-links">
        © 2024 stanimation
    </div>
</footer>
  